/**{
	border: 1px solid black;
	padding: .5px;
	margin: .5px;
	align-items: center;
}*/

body{
	background-color: #f5e1ca ;
}

article {
	display: flex;

	justify-content: center;
	align-items: center;

	margin: 30%;
}

h1 {
	color: teal;
	text-align: center;
}

header {
	display: flex;
	flex-wrap: nowrap;

	height: 30px;
	margin-bottom: 10px;
}

footer {
	height: 30px;
	margin-top: 10px;
	color: #581845;
}

footer > p {
	align-items: center;
	text-align: center;
}


form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: center;
}

.login_user, .login_pass{
	display: flex;
	flex-wrap: nowrap;
	width: 90%;
	height: 50%;
	align-items: center;
	justify-content: center;
	color: #900C3F ;
}

.login_title {
	margin: 25px;
	font-size: 22;
	color: #581845 ;
}

div > label {
	width: 50%;
	margin: 5px;
}

div > input {
	width: 69%;
}

.login_button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

#b_login {
	width: 100%;
	color: #ffffff;
	background-color: #C70039;
}


/* img {
	display: flex;
	flex-wrap: nowrap;
}*/
